<div fxFlex fxLayout="column" class="form-layout" fxLayoutGap="2em">

  <mat-radio-group fxFlex="50px" fxLayout="row" fxLayoutGap="1em">
    <mat-radio-button *ngFor="let language of languageList" [value]="language" (click)="useLanguage(language)" [checked]="language === 'en'" >
      <mat-icon class="language-icon" svgIcon="{{language}}"></mat-icon>
    </mat-radio-button>
  </mat-radio-group>

  <div  class="input-group">
    <input
      [formControl]="dateControl"
      matInput
      class="form-control"
      name="controlDatepicker"
      [matDatepicker]="picker"
      [placeholder]="placeholder"
      >
      <!-- [id]="spDatepickerId"
      [min]="minLocalDate"
      [max]="maxLocalDate"
      (click)="click()"
      (dateChange)="spDateChange($event)"
      (input)="spInput($event)" -->
    <mat-datepicker
      #picker
      [dateClass]="spDateClass"
      ></mat-datepicker>
      <!-- [calendarHeaderComponent]="calendarHeaderComponent"
        (opened)="picker.open()"
      (monthSelected)="spMonthSelected($event)" -->

  <span class="input-group-btn">
    <button class="btn btn-secondary" type="button"
      [disabled]="innerIsDisabled" (click)="picker.open()">
      <i class="bi bi-calendar"></i>
    </button>
  </span>
</div>
  <div fxFlex="150px" >
    <h3>{{'dateLabel' | translate}}</h3>
    <p>{{selectedDate}}</p>
    <p>{{selectedDate | date: 'shortDate': '' : translate.currentLang}} (with DatePipe)</p>
  </div>
<pre>
  {{ dateControl.errors | json }}
</pre>
<pre>
  {{ dateControl.value | json }}
</pre>
<pre>
  {{ dateControl.valid | json }}
</pre>

<div role="alert" *ngIf="dateControl.errors?.matDatepickerMin" aria-atomic="true" id="minErr">
  <span tabindex="0" class="alert-danger reader-error error-outline date-alert m-t-sm">
    {{ formatDate(this.minDate!) }}
  </span>
</div>
<div role="alert" *ngIf="dateControl.errors?.matDatepickerMax" aria-atomic="true" id="maxErr">
  <span tabindex="0" class="alert-danger reader-error error-outline date-alert m-t-sm">
    {{ formatDate(this.maxDate!) }}
  </span>
</div>
<div role="alert" *ngIf="dateControl.errors?.matDatepickerParse" aria-atomic="true" id="dateErr">
  <span tabindex="0" class="alert-danger reader-error error-outline date-alert m-t-sm">
    {{ placeholder }}
  </span>
</div>


<button class="btn btn-secondary">
  Secondary button
</button>

  <footer>
    <small>Icons made by fdff <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
  </footer>
</div>
